/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /* banner start  */

    .banner{
        padding-top: 30px;
        margin-top: 209px;
    }

    .banner-content h1 {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 30px;
    }

    .form-wrapper h2 {
        font-size: 24px;
    }

    .form-wrapper h2::after {
        top: 30px;
    }

    .banner-content h2::after {
        top: 80px;
    }

    .form-wrapper p {
        font-size: 15px;
    }

    .form-wrapper {
        padding: 30px 20px;
    }

    /* banner end */

    /*About start*/
    .about {
        text-align: center;
        padding: 50px 0;
    }
    .png-bg {
        width: 300px;
        top: 100px;
        left: 20px;
        z-index: -1;
    }
    

    .about-left-head {
        font-size: 16px !important;
    }

    .about-right-head {
        font-size: 30px !important;
    }

    /*About End*/

    /*service start*/
    .why-i-need {
        padding: 50px 0;
    }

    .service-icon {
        margin-top: 25px;
        background-color: transparent;
        padding: 10px 20px;
        border: 0;
    }

    .service-icon:hover {
        background-color: transparent;
    }

    .service-icon i {
        padding: 15px;
        background-color: #AB9665;
        color: #fff;
        font-size: 40px;
    }

    .service-desc-left-sm {
        text-align: center;
    }

    .service-desc-right-sm {
        text-align: center;
    }

    /*service end*/
    /*Testimonial end*/
    .team {
        padding: 50px 0;
    }

    /*Team section End*/

    .thanks-wrapper h1{
        font-size: 30px;
        color: #fff;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    /* banner start  */
    .banner-content h1 {
        font-size: 36px;
    }

    /* banner end */

    /*About Start*/
    .about {
        text-align: center;
        padding: 60px 0;
    }

    .png-bg {
        width: 500px;
        left: 100px;
    }

    .about-left-head {
        font-size: 25px !important;
    }

    .about-right-head {
        font-size: 40px !important;
    }

    /*About End*/

    /*Service start*/
    .service {
        padding: 30px 0;
    }

    .service-desc-left-sm {
        text-align: left;
    }

    .service-desc-right-sm {
        text-align: right;
    }

    /*service end*/

    /*Testimonial start*/
    .testimonial-inner .testi-comments p {
        font-size: 20px;
        text-align: center;
    }

    /*Testimonial end*/


    .thanks-wrapper h1{
        font-size: 40px;
        color: #fff;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    /*About Start*/
    .about {
        padding-top: 80px;
    }

    .png-bg {
        width: 500px;
        left: 100px;
    }

    .about-left-head {
        font-size: 25px !important;
    }

    .about-right-head {
        font-size: 40px !important;
    }

    /*About End*/

    /*Service start*/
    .service {
        padding: 50px 0 50px 0;
    }

    .service-desc-left-sm {
        text-align: left;
    }

    .service-desc-right-sm {
        text-align: right;
    }

    /*service end*/

    /*Testimonial start*/
    .testimonial-inner .testi-comments p {
        text-align: center;
    }

    /*Testimonial end*/

    .thanks-wrapper h1{
        font-size: 50px;
        color: #fff;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* banner start  */
    .banner-content h1 {
        font-size: 36px;
    }

    /* banner end */

    /*About Start*/
    .png-bg {
        width: 500px;
        top: 20px;
        left: 60px;
        z-index: -1;
    }

    .about-left-head {
        font-size: 24px;
    }

    .about-right-head {
        font-size: 35px !important;
    }

    /*About End*/

    .service-icon {
        color: #fff;
        background-color: #AB9665;
        padding: 30px 20px;
        border: 1px solid #AB9665;
        transition: 0.3s;
        cursor: pointer;
    }

    .service-icon i {
        font-size: 40px;
    }

}

/*X large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/*XX Large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {}